<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>

  <appSettings>
    <!-- 数据访问层名空间前缀 : SQLServer, MySQL -->
    <add key="DALPrefix" value="MySQL"/>

    <add key="CallerType" value="win"/>
  </appSettings>
</configuration>
