
@{
    ViewBag.Title = "设备日志列表";
}

<!-- BEGIN PAGE HEAD-->
<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
        <h1>
            @ViewBag.Title
            <small></small>
        </h1>
    </div>
    <!-- END PAGE TITLE -->
</div>
<!-- END PAGE HEAD-->
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="@Url.Action("Index", new { controller = "Home" })">主页</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="#">设备管理</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span class="active">@ViewBag.Title</span>
    </li>
</ul>

<div class="row">
    <div class="col-md-12">
        <div class="portlet box green-haze">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>设备日志列表
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                    <a href="" class="fullscreen"> </a>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover dt-responsive" style="width: 100%;" id="operate-table">
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                日志类型
                            </th>
                            <th>
                                日志时间
                            </th>
                            <th>
                                操作类型
                            </th>
                            <th>
                                用户名
                            </th>
                            <th>
                                系统类型
                            </th>
                            <th>
                                序列号
                            </th>
                            <th>
                                操作
                            </th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                日志类型
                            </th>
                            <th>
                                日志时间
                            </th>
                            <th>
                                操作类型
                            </th>
                            <th>
                                用户名
                            </th>
                            <th>
                                系统类型
                            </th>
                            <th>
                                序列号
                            </th>
                            <th>
                                操作
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script type="text/javascript">
        $(function () {
            hyperion.leftNavActive($('#menu-operate-list'));
            hyperion.initAjaxDatatable($('#operate-table'), '/OperateRecord/GetData', [
                { "data": "Id" },
                { "data": "LogType" },
                { "data": "LogTime" },
                { "data": "OpType" },
                { "data": "UserName" },
                { "data": "OSType" },
                { "data": "SerialNumber" },
                { "data": "Id" }
            ]);
        });
    </script>
}