@{ 
    Layout = null;
}

<!-- BEGIN SIDEBAR MENU -->
<!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
<!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
<!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
<!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
<!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
<ul id="left-nav" class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
    <li class="nav-item start ">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-home"></i>
            <span class="title">Dashboard</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item start ">
                <a href="index.html" class="nav-link ">
                    <i class="icon-bar-chart"></i>
                    <span class="title">Dashboard 1</span>
                </a>
            </li>
            <li class="nav-item start ">
                <a href="dashboard_2.html" class="nav-link ">
                    <i class="icon-bulb"></i>
                    <span class="title">Dashboard 2</span>
                    <span class="badge badge-success">1</span>
                </a>
            </li>
            <li class="nav-item start ">
                <a href="dashboard_3.html" class="nav-link ">
                    <i class="icon-graph"></i>
                    <span class="title">Dashboard 3</span>
                    <span class="badge badge-danger">5</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="heading">
        <h3 class="uppercase">Features</h3>
    </li>
    <li class="nav-item  ">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-diamond"></i>
            <span class="title">UI Features</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item  ">
                <a href="ui_colors.html" class="nav-link ">
                    <span class="title">Color Library</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="ui_metronic_grid.html" class="nav-link ">
                    <span class="title">Metronic Grid System</span>
                </a>
            </li>

            <li class="nav-item  ">
                <a href="ui_icons.html" class="nav-link ">
                    <span class="title">Font Icons</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="ui_socicons.html" class="nav-link ">
                    <span class="title">Social Icons</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="ui_typography.html" class="nav-link ">
                    <span class="title">Typography</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <span class="title">Page Progress Bar</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item ">
                        <a href="ui_page_progress_style_1.html" class="nav-link "> Flash </a>
                    </li>
                    <li class="nav-item ">
                        <a href="ui_page_progress_style_2.html" class="nav-link "> Big Counter </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item  ">
                <a href="ui_blockui.html" class="nav-link ">
                    <span class="title">Block UI</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="ui_tiles.html" class="nav-link ">
                    <span class="title">Tiles</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="ui_datepaginator.html" class="nav-link ">
                    <span class="title">Date Paginator</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="ui_nestable.html" class="nav-link ">
                    <span class="title">Nestable List</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item  ">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-puzzle"></i>
            <span class="title">Components</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item  ">
                <a href="components_date_time_pickers.html" class="nav-link ">
                    <span class="title">Date & Time Pickers</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="components_editors.html" class="nav-link ">
                    <span class="title">Markdown & WYSIWYG Editors</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="components_knob_dials.html" class="nav-link ">
                    <span class="title">Knob Circle Dials</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item  ">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-bulb"></i>
            <span class="title">Elements</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item  ">
                <a href="elements_steps.html" class="nav-link ">
                    <span class="title">Steps</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="elements_lists.html" class="nav-link ">
                    <span class="title">Lists</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item  ">
        <a href="?p=" class="nav-link nav-toggle">
            <i class="icon-wallet"></i>
            <span class="title">Portlets</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item  ">
                <a href="portlet_boxed.html" class="nav-link ">
                    <span class="title">Boxed Portlets</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="portlet_light.html" class="nav-link ">
                    <span class="title">Light Portlets</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="portlet_solid.html" class="nav-link ">
                    <span class="title">Solid Portlets</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="portlet_ajax.html" class="nav-link ">
                    <span class="title">Ajax Portlets</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="portlet_draggable.html" class="nav-link ">
                    <span class="title">Draggable Portlets</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="heading">
        <h3 class="uppercase">Layouts</h3>
    </li>
    <li class="nav-item left-nav-top">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-layers"></i>
            <span class="title">Page Layouts</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item active open">
                <a href="layout_blank_page.html" class="nav-link ">
                    <span class="title">Blank Page</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="layout_ajax_page.html" class="nav-link ">
                    <span class="title">Ajax Content Layout</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="layout_footer_fixed.html" class="nav-link ">
                    <span class="title">Fixed Footer</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="layout_boxed_page.html" class="nav-link ">
                    <span class="title">Boxed Page</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item  ">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-wrench"></i>
            <span class="title">Custom Layouts</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item  ">
                <a href="layout_disabled_menu.html" class="nav-link ">
                    <span class="title">Disabled Menu Links</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="heading">
        <h3>系统信息</h3>
    </li>
    <li class="nav-item left-nav-top">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-docs"></i>
            <span class="title">厂家管理</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item ">
                <a href="@Url.Action("List", new { controller = "VendorInfo" })" class="nav-link" id="menu-vendorinfo-list">
                    <i class="icon-clock"></i>
                    <span class="title">厂家列表</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="app_ticket.html" class="nav-link ">
                    <i class="icon-notebook"></i>
                    <span class="title">Support</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item  ">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-user"></i>
            <span class="title">账户管理</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item  ">
                <a href="page_user_profile_1.html" class="nav-link ">
                    <i class="icon-user"></i>
                    <span class="title">Profile 1</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="page_user_lock_1.html" class="nav-link " target="_blank">
                    <i class="icon-lock"></i>
                    <span class="title">Lock Screen 1</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="page_user_lock_2.html" class="nav-link " target="_blank">
                    <i class="icon-lock-open"></i>
                    <span class="title">Lock Screen 2</span>
                </a>
            </li>
        </ul>
    </li>
</ul>
<!-- END SIDEBAR MENU -->
