body, h1, h2, h3, h4, h5, h6{
	font-family: '微软雅黑';
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
}

.page-header.navbar .page-logo {
    width: 350px;
}

.page-header.navbar .page-logo .logo-default {
    margin-top: 15px;
}

.modal-dialog {
    margin-top: 90px;
}

.modal-content {
    padding: 10px;
}